@import '@/styles/breakpoints';

@include breakpoint('md') {}

.bg {
  background: rgba(246, 246, 246, 1);
}

.productsPage{
  padding-top: 150px;
}
.cards {
  display: flex;
  overflow: scroll;
  width: 100%;
  gap: 24px;

  &::-webkit-scrollbar {
    display: none;
  }
}